:root {
    /* Blue */
    --color-blue-50: hsl(223, 100%, 97%);
    --color-blue-100: hsl(223, 100%, 95%);
    --color-blue-200: hsl(223, 100%, 85%);
    --color-blue-300: hsl(223, 100%, 70%);
    --color-blue-400: hsl(223, 100%, 60%);
    --color-blue-500: hsl(223, 100%, 50%);
    --color-blue-600: hsl(223, 100%, 45%);
    --color-blue-700: hsl(223, 100%, 30%);
    --color-blue-800: hsl(223, 100%, 20%);
    --color-blue-900: hsl(223, 100%, 10%);

    /* Grey */
    --color-gray-50: hsl(223, 5%, 98%);
    --color-gray-100: hsl(223, 5%, 97%);
    --color-gray-200: hsl(223, 5%, 95%);
    --color-gray-300: hsl(223, 5%, 90%);
    --color-gray-400: hsl(223, 5%, 87%);
    --color-gray-500: hsl(223, 5%, 73%);
    --color-gray-600: hsl(223, 5%, 67%);
    --color-gray-700: hsl(223, 5%, 47%);
    --color-gray-800: hsl(223, 5%, 33%);
    --color-gray-900: hsl(223, 5%, 20%);

    /* Black and White */
    --color-white: #FFFFFF;
    --color-black: #000000;

    /* Other Colors */
    --color-green-50: hsl(81, 90%, 97%);
    --color-green-100: hsl(81, 90%, 95%);
    --color-green-200: hsl(81, 90%, 80%);
    --color-green-500: hsl(81, 90%, 42%);
    --color-green-600: hsl(81, 90%, 37%);
    --color-red-50: hsl(10, 100%, 97%);
    --color-red-100: hsl(10, 100%, 95%);
    --color-red-200: hsl(10, 100%, 80%);
    --color-red-500: hsl(10, 100%, 65%);
    --color-red-600: hsl(10, 100%, 58%);
    --color-yellow-50: hsl(42, 100%, 97%);
    --color-yellow-100: hsl(42, 100%, 95%);
    --color-yellow-200: hsl(42, 100%, 80%);
    --color-yellow-500: hsl(42, 100%, 58%);
    --color-yellow-600: hsl(42, 100%, 50%);
    
    /* Specific implementations */
    --color-primary: var(--color-blue-500);
    --color-border: var(--color-gray-300);
    --color-background: var(--color-white);
    --color-modal-background: var(--color-white);
    --color-text: var(--color-gray-800);
    --color-header: var(--color-black);

    /* Typography */
    --font-body: 'IBM Plex Sans';
    --font-mono: 'IBM Plex Mono';
    --font-heading: 'InterVariable';
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Blue */
        --color-blue-50: hsl(216, 10%, 12%);
        --color-blue-100: hsl(216, 20%, 15%);
        --color-blue-200: hsl(216, 30%, 20%);
        --color-blue-300: hsl(216, 50%, 25%);
        --color-blue-400: hsl(216, 65%, 40%);
        --color-blue-500: hsl(216, 100%, 50%);
        --color-blue-600: hsl(216, 100%, 57%);
        --color-blue-700: hsl(216, 100%, 65%);
        --color-blue-800: hsl(216, 100%, 75%);
        --color-blue-900: hsl(216, 100%, 85%);

        /* Grey */
        --color-gray-50: hsl(216, 8%, 9%);
        --color-gray-100: hsl(216, 8%, 13%);
        --color-gray-200: hsl(216, 8%, 15%);
        --color-gray-300: hsl(216, 8%, 20%);
        --color-gray-400: hsl(216, 8%, 27%);
        --color-gray-500: hsl(216, 8%, 40%);
        --color-gray-600: hsl(216, 8%, 67%);
        --color-gray-700: hsl(216, 8%, 87%);
        --color-gray-800: hsl(216, 8%, 93%);
        --color-gray-900: hsl(216, 8%, 97%);

        /* Black and White */
        --color-white: #FFFFFF;
        --color-black: #121212;

        /* Other Colors */
        --color-green-50: hsl(81, 10%, 10%);
        --color-green-100: hsl(81, 55%, 12%);
        --color-green-200: hsl(81, 100%, 30%);
        --color-green-500: hsl(81, 100%, 50%);
        --color-green-600: hsl(81, 100%, 54%);
        --color-red-50: hsl(10, 10%, 13%);
        --color-red-100: hsl(10, 35%, 17%);
        --color-red-200: hsl(10, 50%, 30%);
        --color-red-500: hsl(10, 100%, 63%);
        --color-red-600: hsl(10, 100%, 66%);
        --color-yellow-50: hsl(42, 75%, 6%);
        --color-yellow-100: hsl(42, 100%, 12%);
        --color-yellow-200: hsl(42, 100%, 23%);
        --color-yellow-500: hsl(42, 100%, 58%);
        --color-yellow-600: hsl(42, 100%, 62%);
        
        /* Specific implementations */
        /* --color-primary: var(--color-blue-500); */
        /* --color-border: var(--color-gray-200); */
        --color-background: var(--color-black);
        --color-modal-background: var(--color-black);
        /* --color-text: var(--color-white); */
        --color-header: var(--color-white);
    }
}