{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "electron": "10"
                },
                "modules": false
            }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "babel-plugin-styled-components",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-numeric-separator"
    ]
}