<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Aeon</title>
        <style type="text/css">
            #loader {
                display: flex;
                width: 100vw;
                height: 100vh;
                justify-content: center;
                align-items: center;
                color: #0000FF;
                user-select: none;
                animation: bounce 0.5s; 
                animation-direction: alternate; 
                animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
                animation-iteration-count: infinite; 
                margin-top: -50px;
            }
               
            @keyframes bounce { 
                from { 
                    transform: translate3d(0, 0px, 0); 
                } 
                to { 
                    transform: translate3d(0, 50px, 0); 
                } 
            } 
        </style>
    </head>
    <body>
        <div id="root"></div>
        <div id="modal"></div>
        <div id="loader" >
            <svg viewBox="0 0 50 50" width="25" height="25">
                <circle cx="25" cy="25" r="25" fill="currentColor" />
            </svg>
        </div>
    </body>
</html>
        