<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <% if (process.env.NODE_ENV === 'development') { %>
      <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self'; connect-src *; style-src 'self' 'nonce-devOnly'"
      />
      <% } else { %>
      <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'none'; connect-src *; style-src 'self'"
      />
      <% } %>
  </head>
  <body>
    <h1>💖 Hello World!</h1>
    <p>Welcome to your Electron application.</p>
  </body>
</html>
